.app1-list, .app2-list {
  list-style-type: none;
  padding-left: 0;
}

div.projects-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #2f2f2f;
  color: #eff6ee;
}

h4#projects-header {
  color: #eff6ee;
  font-size: 28px;
}

h5.app1-header {
  font-size: 24px;
  text-decoration: 2px solid #e62b1e underline;
}

section.app1, section.app2, section.app3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  line-height: 1.8;
}

section.app2 {
  background-color: #eff6ee;
  color: black;
}

section.app1, section.app3 {
  color: white;
}

section.app2 {
  margin-bottom: 0;
}

ul.app1-list, ul.app2-list, ul.app3-list {
  max-width: 80vw;
}

span.keyword {
  color: #ee7168;
  font-family: 'Space Mono', monospace;
  font-size: 19px;
}

span.keyword2 {
  color: #D82518;
  font-family: 'Space Mono', monospace;
  font-size: 19px;
}

a.repo-links {
  color: #EFF6EE;
}

a.repo-links2 {
  color: black;
}

img {
  border: 2px solid #406e8e;
}

#projects {
  padding-top: 0vh;
  margin-top: 0vh;
}


div.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  #projects {
    padding-top: 8vh;
    margin-top: -8vh;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  ul.app1-list, ul.app2-list, ul.app3-list {
    max-width: 450px;
  }
}

@media screen and (min-width: 1000px) {
  div.project-div {
    margin-top: 5vh;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly; 
  }

  ul.app1-list, ul.app2-list, ul.app3-list {
    margin-top: 40px;
  }

  li {
    padding-bottom: 12px;
  }

}