h4.footer-header {
  font-size: 28px;
  margin-top: 20vh;
}

h4.contact-header {
  font-size: 26px;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff6ee;
}

ul.footer-contact {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-evenly;
  margin-top: 20px;
}

img.social-logo {
  border: none;
}

#contact {
  padding-top: 8vh;
  margin-top: -8vh;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

a.email {
  font-size: 19px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 599px) {
  footer {
    margin-bottom: 7vh;
  }

  #contact {
    padding-top: 0vh;
    margin-top: 0vh;
  }


}

