* {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

html {
  width: 100vw;
}

/** Full CSS Reset:

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

*/


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  padding-top: 20px;
}

.blue-div {
  background-color: #406e8e;
  width: 100vw;
  height: 5px;
}


